@import url('https://fonts.googleapis.com/css2?family=Blinker&family=Lato:wght@300&family=Montserrat:wght@200&family=Press+Start+2P&family=Rubik+Mono+One&family=Rubik:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(222, 209, 209, 0.553);
}
