main.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
main.login > form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
main.login > form > input {
  margin-bottom: 1rem;
  padding: 0.3rem;
}
label {
  padding-left: 15px;
}
.imgLog img {
  width: 100%;

  padding-left: 0;
  height: auto;
}
.imgLog {
  margin-bottom: 20px;
}
