* {
  font-family: Montserrat, sans-serif;
}

.Admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('https://img.freepik.com/fotos-premium/fondo-fondo-pantalla-desenfocado-escena-urbana-coches_475667-1941.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contaniner1 img {
  border-radius: 200px;
  width: 150px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: 6px;
  height: 12rem;
  border-radius: 20px;
  width: 90vw;
  border: none;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.175);
  margin-bottom: 5rem;
}

.form-container input {
  border: none;
  outline: none;
  text-align: center;
  font-size: 0.7rem;
}

.inputsNewEntry {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no caben en una sola fila */
  justify-content: space-between; /* Ajusta el espacio entre los elementos */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  border-top: 1px solid rgb(197, 195, 195);
  padding-top: 0.5rem;
}

.inputsNewEntry > * {
  max-width: calc(33.33% - 10px); /* Establece un ancho máximo para los elementos (33.33% - 10px de espacio entre elementos) */
  margin-bottom: 10px; /* Agrega un pequeño espacio entre los elementos */
}


.title {
  width: 70vw;
  margin-top: 1rem;
  height: 2rem;
  ;
}


.title::placeholder{
  font-weight: bold;
  color:black;
  font-size: 1.2rem;
}

.descriptionNewEntry {
  display: block;
  width: 85vw;
  margin-top: 1rem;
  border: none;
  font-size: 0.8rem;
}

.contaniner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 100vh;
}
.container2 p {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(187, 88, 31);
  width: 100vw;
  height: auto;
  padding-top: 6px; 
}


/* Estilo del botón "Enviar" */
.form-container button {
  background-color: #ffffff;
  color: rgb(202, 199, 199);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-top: 1px solid rgb(197, 195, 195);
}

@media (min-width: 375px){
    
  .form-container input {
    border: none;
    outline: none;
  }
  
  .title::placeholder{
    color:black;
    font-size: 1rem;
  }

  .descriptionNewEntry {
    width: 85vw;
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid rgb(197, 195, 195);
  }
  
  .contaniner1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    color: white;
    width: 100vh;
  }
  .container2 p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    color: white;
  }
  
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(187, 88, 31);
    width: 100%;
    height: auto;
    padding-top: 6px; 
  }
  
  
  /* Estilo del botón "Enviar" */
  .form-container button {
    background-color: #ffffff;
    color: rgb(202, 199, 199);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
  }
}

@media (min-width: 425px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1350px) {

}

