footer {
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 3rem; 
};

.button-logout {
    border: transparent;
    color: white;
}