@media screen and (min-width: 375px) {
  /* pantallas muy pequeñas */
  .description {
    text-align: left;
    color: black;
    margin-left: 10%;
    font-size: 13px;
  }
  .phot img {
    width: 40vh;
    padding-bottom: 10px;
    padding-left: 1%;
  }
}

@media screen and (min-width: 480px) {
  /* pantallas más pequeñas */
  .description {
    text-align: left;
    color: black;
    margin-left: 10%;
    font-size: 13px;
  }
  .phot img {
    width: 80vh;
    padding-bottom: 10px;
    padding-left: 1%;
  }
}
@media screen and (min-width: 600px) {
  /* pantallas medianas */
  .description {
    text-align: left;
    color: black;
    margin-left: 13%;
    margin-right: 12%;

    font-size: 16px;
  }
  .phot img {
    width: 90vh;
    padding-bottom: 10px;
    padding-left: 2%;
  }
}
@media screen and (min-width: 1024px) {
  /* pantallas grandes */
  .description {
    text-align: left;
    color: black;
    margin-left: 13%;
    margin-right: 12%;

    font-size: 17px;
  }
  .phot img {
    padding-left: 1%;

    width: 100vh;
    height: auto;
    padding-bottom: 10px;
  }
}
