@media screen and (min-width: 375px) {
  /* pantallas más pequeñas */
  .login {
    background-color: rgb(20, 38, 56);
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(20, 38, 56);
  }

  .image.container {
    position: relative;
    width: 100%;
    max-height: 50%;
    overflow: hidden;
  }

  .imagenCiudad {
    width: 100%;
    height: 50%;
    z-index: 0;
  }

  .logoGoHome {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 20vw;
    height: 20vh;
  }

  .h1LoginRegister {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #ffffff;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .formLogin {
    width: 50vw;
    display: flex;
    max-width: 400px;
    color: #fff;
    padding: 20px;
    background-color: rgb(20, 38, 56);
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .h2Login {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 15px;

    margin-bottom: 20px;
    text-align: center;
  }

  .labelForm {
    font-size: 12px;

    font-family: Montserrat, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 10px;
  }

  .inputLogin {
    font-size: 12px;

    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 2.5rem;
    color: #fff;
    padding: 0.3rem;
    background-color: rgb(20, 38, 56);
    font-family: Montserrat, sans-serif;
  }

  .buttonLogin {
    font-size: 12px;
    border-radius: 20px;
    background-color: rgba(20, 38, 56);
    font-family: Montserrat, sans-serif;
    border: solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
  }

  .buttonRegister {
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
  }

  .buttonLogin:hover {
    background-color: #3be8e865;
    color: rgb(20, 38, 56);
  }

  /* Estilos para el mensaje de error */
  .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 480px) {
  /* pantallas más pequeñas */
  .login {
    background-color: rgb(20, 38, 56);
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(20, 38, 56);
  }

  .image.container {
    position: relative;
    width: 100%;
    max-height: 50%;
    overflow: hidden;
  }

  .imagenCiudad {
    width: 100%;
    height: 50%;
    z-index: 0;
  }

  .logoGoHome {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 20vw;
    height: 20vh;
  }

  .h1LoginRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .formLogin {
    width: 60vw;
    display: flex;
    max-width: 400px;
    color: #fff;
    padding: 20px;
    background-color: rgb(20, 38, 56);
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .h2Login {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }

  .labelForm {
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 10px;
  }

  .inputLogin {
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 2.5rem;
    color: #fff;
    padding: 0.3rem;
    background-color: rgb(20, 38, 56);
    font-family: Montserrat, sans-serif;
  }

  .buttonLogin {
    font-size: 15px;
    border-radius: 20px;
    background-color: rgba(20, 38, 56);
    font-family: Montserrat, sans-serif;
    border: solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
  }

  .buttonRegister {
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
  }

  .buttonLogin:hover {
    background-color: #3be8e865;
    color: rgb(20, 38, 56);
  }

  /* Estilos para el mensaje de error */
  .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 550px) {
  /* pantallas más pequeñas */
  .logoGoHome {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 24vw;
    height: 20vh;
  }

  .h1LoginRegister {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #ffffff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
@media screen and (min-width: 650px) {
  /* pantallas más pequeñas */
  .logoGoHome {
    top: 34%;
    left: 50%;
    width: 27vw;
  }

  .h1LoginRegister {
    font-size: 22px;
    color: #ffffff;
    top: 37%;
  }
}
@media screen and (min-width: 750px) {
  /* pantallas más pequeñas */
  .logoGoHome {
    top: 38%;
    left: 50%;
    width: 30vw;
  }

  .h1LoginRegister {
    font-size: 24px;
    color: #ffffff;
    top: 41%;
  }
}
@media screen and (min-width: 850px) {
  /* pantallas más pequeñas */
  .formLogin {
    width: 70vw;
  }

  .h2Login {
    font-size: 22px;
  }

  .labelForm {
    font-size: 17px;
  }

  .inputLogin {
    font-size: 17px;

    color: #fff;
  }

  .buttonLogin {
    font-size: 17px;
  }
  .logoGoHome {
    top: 42%;
    left: 50%;
    width: 33vw;
  }

  .h1LoginRegister {
    font-size: 26px;
    color: #ffffff;
    top: 45%;
  }
}
@media screen and (min-width: 950px) {
  /* pantallas más pequeñas */
  .logoGoHome {
    top: 52%;
    left: 50%;
    width: 36vw;
  }

  .h1LoginRegister {
    font-size: 28px;
    color: #ffffff;
    top: 56%;
  }
}
@media screen and (min-width: 1150px) {
  .login {
    background-color: rgb(20, 38, 56);
    display: flex; /* Agregamos display: flex; para activar el contenedor como flexbox */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
    justify-content: center; /* Centra horizontalmente los elementos en el contenedor */
    min-height: 100vh;
  }

  .login-container {
    /* No es necesario agregar align-items y justify-content aquí, ya que se heredará de .login */
    background-color: rgba(20, 38, 56);
  }

  .image.container {
    position: relative;
    width: 100%;
    max-height: 50%;
    overflow: hidden;
  }

  .imagenCiudad {
    width: 100%;
    height: 50%;
    z-index: 0;
  }

  /* pantallas más pequeñas */
  .logoGoHome {
    top: 58%;
    left: 50%;
    width: 36vw;
  }

  .h1LoginRegister {
    font-size: 28px;
    color: #ffffff;
    top: 62%;
  }
}
