/* Para un ancho de pantalla inferior a 700px no queremos que se vean estos botones. */
.nav-bar > .container-entries,
.nav-bar > .container-logout {
  display: none
}

/* Estilos para todas las pantallas */

  .headerr {
    width: 100vw;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
  }

  .imgHeader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 50vw;
    height: 10vh;
  }

  .h1Header {
    font-size: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .nameUser {
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    font-size: 10px;
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 10px; /* Ajusta la distancia desde la derecha según tus necesidades */
  }

  nav > p {
    align-self: center;
    font-weight: bold;
  }

  .linkStyle {
    text-decoration: none;
    color: black;
  }

@media screen and (min-width: 480px) {
  .nameUser {
    font-size: 12px;
  }
}

@media screen and (min-width: 700px) {
  /* Establecemos display block para visualizar los botones a partir de 700px de ancho. */
  .nav-bar > .container-entries,
  .nav-bar > .container-logout {
    display: block
  }
}