@media screen and (min-width: 480px) {
  /* pantallas más pequeñas */
  header {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
  }

  h1 {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    position: absolute;
    color: black;
    text-decoration: none;
  }
  .nameUser {
    font-size: 13px;
    margin-top: 20px;
    margin-left: 355px;
    font-family: Montserrat, sans-serif;
  }

  nav > p {
    align-self: center;
    font-weight: bold;
  }

  .linkStyle {
    text-decoration: none;
    color: black;
  }
}
@media screen and (min-width: 750px) {
  /* pantallas medianas */

  h1 {
    font-size: 25px;
    font-family: Montserrat, sans-serif;
    position: absolute;
    color: black;
    text-decoration: none;
  }
  .nameUser {
    font-size: 16px;

    margin-top: 20px;
    margin-left: 525px;
    font-family: Montserrat, sans-serif;
  }
}
