@media screen and (min-width: 375px) {
  /* pantallas más pequeñas */
  .headerr {
    width: 100vw;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
  }

  .imgHeader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 50vw;
    height: 10vh;
  }

  .h1Header {
    font-size: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .nameUser {
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    font-size: 12px;
  }

  nav > p {
    align-self: center;
    font-weight: bold;
  }

  .linkStyle {
    text-decoration: none;
    color: black;
  }
}
@media screen and (min-width: 750px) {
  /* pantallas medianas */

  .h1Header {
    position: absolute;
  }
}


