@media screen and (min-width: 375px) {
  /* pantallas más pequeñas */
  .headerr {
    width: 100vw;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
  }

  .imgHeader{
    margin-top: 0.7rem;
    width: 60vw;
  }

  h1 {
    position: absolute;
  }
  .nameUser {
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    font-size: 12px;
  }
  
  nav > p {
    align-self: center;
    font-weight: bold;
  }

  .linkStyle {
    text-decoration: none;
    color: black;
  }
}
@media screen and (min-width: 750px) {
  /* pantallas medianas */

  h1 {
    position: absolute;
  }
}
